<style>
    header {
        margin: 0px;
        position: sticky;
        top: 0px;
        right: 0px;
        width: 100%;
        display: block;
    }

    nav {
        width: 100%;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        gap: 10px;
        background-color: #7f8c8d;
        padding: 10px;
    }


    nav>a {
        background-color: #b9cbcd;
        padding: 5px;
        border-radius: 10px;
        text-decoration: none;
    }
</style>

<header>
    <nav>
        <a href="/students">All Students</a>
        <a href='/students/new'>Add Student</a>
        <a href="/logout">Logout</a>
    </nav>
</header>