*{
    font-family: 'Courier New', Courier, monospace;

}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 50%;
    margin: 10px auto;
}

form button {
    width: 70%;
}
form input{
    font-size: larger;
}